.App {
  text-align: center;
  background-color: var(--bg-color);
  min-height: 100vh;
  color: white;
}

.header{
  border-bottom: 2px solid var(--main-accent-color);
}
.header img{
  width: 150px;
  margin: 20px 0px 30px 0px;
}

.container-app{
  display: grid;
  grid-template-columns: 15rem 1fr;
}
.sidebar{
  background-color: var(--bg-light-color );
  height: calc(100vh - 210px);
}
